* text=auto eol=lf

*.md text eol=lf
*.py text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.qss text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.onnx binary
*.pt binary
*.pth binary
*.zip binary
